SAUCEDEMO_BASE_URL=https://www.saucedemo.com/

SAUCEDEMO_USER_STANDARD=your_standard_user
SAUCEDEMO_USER_LOCKED_OUT=your_locked_out_user
SAUCEDEMO_USER_PROBLEM=your_problem_user
SAUCEDEMO_USER_PERFORMANCE_GLITCH=your_performance_glitch_user
SAUCEDEMO_USER_ERROR=your_error_user
SAUCEDEMO_USER_VISUAL=your_visual_user

SAUCEDEMO_PASSWORD=your_password
SAUCEDEMO_PASSWORD_INVALID=your_invalid_password

SAUCEDEMO_PERF_THRESHOLD_MS=10000
